ul li {
  list-style-type: none;
  font-weight: 500;
}
.container {
  margin: 0;
  height: 800px;
  width: 1280px;
  box-sizing: border-box;
  background-image: url(../image/bgrd_header_section_hero.jpg);
}
.cont-header {
  box-sizing: border-box;
  background-color: white;
  height: 48px;
  width: 1080px;
  margin: 32px auto 0;
  border-radius: 10px;
}
